<launch>
  <!-- Run Gazebo simulator in headless mode -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="false"/>
  </include>
  
  <!-- Launch the talker and listener nodes -->
  <node pkg="my_robot" type="talker" name="talker" output="screen" />
  <node pkg="my_robot" type="listener" name="listener" output="screen" />
</launch>
